<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="Author" content="神棍、Falost">
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{description}}">
    <meta name="theme-color" content="#f60">
    <meta name="referrer" content="never">
    <!-- 让IE浏览器用最高级内核渲染页面 还有用 Chrome 框架的页面用webkit 内核 
      ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <!-- IOS6全屏 Chrome高版本全屏 
      ================================================== -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- 让360双核浏览器用webkit内核渲染页面 
      ================================================== -->
    <meta name="renderer" content="webkit">
    <!-- Mobile Specific Metas
      ================================================== -->
    <!-- !!!注意 minimal-ui 是IOS7.1的新属性，最小化浏览器UI -->
    <meta name="format-detection" content="telephone=no,email=no,date=no,aItemress=no">
    <!-- CSS 
      ================================================== -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_504579_jfvnovnnc.css?v={{version}}">
    <% for (var chunk of webpack.chunks) {
      for (var file of chunk.files) {
        if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
        <% }
      }
    } %>
    <!-- Favicons 
      ================================================== -->
    <link id="favicon" rel="shortcut icon" href="/public/falost.jpg">
  </head>

  <body>
    <!--vue-ssr-outlet-->
  </body>

</html>
