<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Falost 的个人主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="Author" content="神棍、Falost">
    <!-- 让IE浏览器用最高级内核渲染页面 还有用 Chrome 框架的页面用webkit 内核
    ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <!-- IOS6全屏 Chrome高版本全屏
    ================================================== -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- 让360双核浏览器用webkit内核渲染页面
    ================================================== -->
    <meta name="renderer" content="webkit">
    <!-- Mobile Specific Metas
    ================================================== -->
    <!-- !!!注意 minimal-ui 是IOS7.1的新属性，最小化浏览器UI -->
    <meta name="format-detection" content="telephone=no,email=no,date=no,aItemress=no">
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_504579_jfvnovnnc.css">
    <!-- Favicons
    ================================================== -->
    <link id="favicon" rel="shortcut icon" href="favicon.ico">
    <% if(htmlWebpackPlugin.options.prod) { %>
      <script>
        (function() {
          if (window.location.protocol.indexOf('s') < 0) {
            window.location.protocol = 'https'
          }
        })()
      </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <script src="/static/libs/highlight/highlight.pack.js?t=<%=htmlWebpackPlugin.options.time %>"></script>
    <% if(htmlWebpackPlugin.options.prod) { %>
      <script src="/static/libs/vue/dist/vue.min.js?t=<%=htmlWebpackPlugin.options.time %>"></script>
      <script src="/static/libs/axios/dist/axios.min.js?t=<%=htmlWebpackPlugin.options.time %>"></script>
      <script src="/static/libs/vue-router/dist/vue-router.min.js?t=<%=htmlWebpackPlugin.options.time %>"></script>
      <script src="/static/libs/vuex/dist/vuex.min.js?t=<%=htmlWebpackPlugin.options.time %>"></script>
    <% } else { %>
      <script src="/static/libs/vue/dist/vue.js?t=<%=htmlWebpackPlugin.options.time %>"></script>
      <script src="/static/libs/axios/dist/axios.js?t=<%=htmlWebpackPlugin.options.time %>"></script>
      <script src="/static/libs/vue-router/dist/vue-router.js?t=<%=htmlWebpackPlugin.options.time %>"></script>
      <script src="/static/libs/vuex/dist/vuex.js?t=<%=htmlWebpackPlugin.options.time %>"></script>
    <% } %>
    <script src="/static/libs/element-ui/js/index.js?t=<%=htmlWebpackPlugin.options.time %>"></script>
    <script src="/static/libs/echarts/dist/echarts.min.js?t=<%=htmlWebpackPlugin.options.time %>"></script>
    <!-- built files will be auto injected -->
  </body>
</html>
